body {
    background-color: rgb(185, 247, 156);
  }
  
  .navbar-background {
    background-color: rgb(185, 247, 156);
  }

  h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(9, 46, 209);
  }

  .home-text {
    color: rgba(219, 59, 31, 0.911);
    font-size: 35px;
    
  }

  /* contact form */
  .form-label {
    color: rgb(212, 28, 28);
    font-family: 'Open Sans', sans-serif;
  }

  /* Grid for Doodler */
  .grid {
    width: 400px;
    height: 600px;
    background-color: yellow;
    position: relative;
    font-size: 200px;
    text-align: center;
  }
/* 
  doodler character */
  .doodler {
    /* background-image: url(../img/fly1.png); */
    width: 60px;
    height: 85px;
    background-color: red;
    position: absolute;
  }

  /* platforms */
  .platform {
    /* background-image: url(../img/2dplatform.png); */
    width: 85px;
    height: 15px;
    position: absolute;
    background-color: green;
  }
  
  /* Grid for snake
  .grid2 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: flex;
    border-style: solid;
  }

  .grid2 div {
    width: 20px;
    height: 20px;
  }

  .snake {
    background-color: blue;
  }

  .apple {
    background-color: rgb(203, 9, 9);
  } */

  /* Grid for snake game */

  #gameContainer{
    text-align: center;
  }
  #gameBoard{
    border: 3px solid;
  }

  #scoreText{
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
  }

  #resetBtn{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
  }

   /* contact form */
   .game-text {
    color: rgb(212, 28, 28);
    font-family: 'Open Sans', sans-serif;
  }